* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}   
/* Header section css */
header{
    width: 100%;
    height: 13.3%;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    z-index: 1001;
}
.nav-menu{
    display: flex;   
}
.nav-menu a{
    font-size: 24px;
    text-transform: capitalize;
    padding: 10px 15px;
    transition: all .42 ease;
    cursor: pointer;
}
#menu-icon{
    font-size: 35px;
    color:#2c2c2c;
    z-index: 10001; 
    cursor: pointer;
}
/* Main section css */
section{
    padding: 10% 10%;
}

.main-section {
    width:100%;
    height: 100vh;
    display: grid;
    background-image: url(photos/shoes-background.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: right;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    z-index: 1000;
}
.main-text-box{
    width:fit-content;
    background-color: rgba(256, 256, 256, 85%);
}
.main-text-box img{
    width: 100%;
    height: auto;
    float:inline-end;

}
.main-text-box h5{
    font-size: 24px;
    color: red;
    font-weight: 500;
    text-shadow: 1px 1px 1px black;
}
.main-text-box h1{
    font-size: 68px;
    font-weight: bold;
}
.main-text-box p{
    font-size: 22px;
}
.main-btn{
    display:inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid black;
    padding: 12px 18px;
    transition: all .42 ease;
    justify-content: center;
}
.main-btn:active{
    background-color: #111;
    color: #fff;
}

header.sticky{
    background-color: white;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
}
/* Products section css */
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
}
.row{
    position: relative;
    transition: all .40s;
}
.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    font-size: 12px;
    top: 13px;
    left:13px;
    text-transform: uppercase;
    padding: 3px 10px;
    color: white;
    background-color: #109d10;
    border-radius: 2px solid black;
}

@media(max-width:750px)
{
    .nav-menu{
        position:absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s ease;
    }
    .nav-menu a
    {
        display: block;
        margin: 15px 0px;
    }
    .nav-menu.open{
        right: 0;
    }
}
@media(max-width: 700px)
{
    .main-section{
        background-size: 350px;
        transition: .4s;
    }
}
@media(max-width:630px){
    
    .main-text-box h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text-box p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;;
    }
    .main-btn:active{
        padding: 10px 20px;;
    }
    
}
@media(max-width: 290px){
    header > h1{
        font-size: 1.2em;
        transition: .4s;
    }
}
/* products pages */
.product-section-container section{
    display: grid;
    padding: 3% 10%;
}

.product-main {
    width: 100%;
    height: fit-content;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10%;
}
.product-photo{
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
}
.product-photo img {
    margin-left: auto;
    margin-right: auto;
    width:50%;
    display: block;
   
}
.main-heading > *{
    font-weight: 500;
}
.main-heading h1{
    font-size: 42px;
    font-weight: 600;
}
.main-heading h3{
    font-size: 22px;
}
.main-heading p{
    font-size: 18px;
}
.product-description{
    width: 85%;
}
.product-section-container h2{
    font-weight: 500;
    font-size: 28px;
    
}
.product-description h3{
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
}

/* forms css */
form {
    margin: 20px 0;
}

label {
    display: block;
    margin: 5px 0;
}

input, textarea, select {
    width: 75%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display:block;
    color: #111;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid black;
    padding: 12px 18px;
    transition: all .42 ease;
    justify-content: center;
}

button:hover {
    background-color: #000000;
    color: white;
}

.review-card {
    background: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 50%;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars span {
    color: gold;
    font-size: 1.2em;
}